.checkout-page {

    display: flex;
    flex-direction: column;
    align-items: center;

    ul.product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        li {
            list-style: none;
        }
    }
}