.reciept {
    max-width: 1000px;
    padding-bottom: 75px;

    .order {
        ul.items {
            border-bottom: solid 2px rgba(190, 190, 190, 0.2);
            padding-bottom: 36px;
            margin-bottom: 46px;

            & > li {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                margin-bottom: 36px;
                padding-bottom: 24px;
                &:not(:last-child) {
                    border-bottom: 1px solid rgba(0,0,0,0.05);
                }

                .item {
                    display: flex;
                    
                    img {
                        vertical-align: middle;
                        border-style: none;
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                        object-fit: cover;
                        margin-right: 50px;
                    }

                    .details {
                        .description {
                            font-size: 18px;
                            color: rgb(147, 147, 147);
                        }

                        .prices {
                            margin-bottom: 16px;

                            p {
                                margin-bottom: 0;
                                font-size: 1.2em;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}