.shopping-cart {

    button.cart {
        background-color: #0089e0;
    }
    
    .speech-bubble {
        position: relative;
        background: #ffdc14;
        box-shadow: 2px 6px 6px rgba($color: #000000, $alpha: 0.15);
        border: 2px solid rgba($color: #a8a8a8, $alpha: .2);
        border-radius: .6em;
        width: 350px;
        top:30px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            color:#4c4c4c;
            margin: 12px 0;
            align-self: center;
        }

        ul {
            background-color: white;
            list-style: none;
            margin: 0
        }

        button.checkout {
            width: 100%;
            border-radius: 0 0 .4em .4em;
            font-size: 18px;
            padding: .8rem .8rem;
            background-color: #0089e0;
        }
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 50%;
        width: 0;
        height: 0;
        border: 27px solid transparent;
        border-bottom-color: #ffdc14;
        border-top: 0;
        margin-left: -20px;
        margin-top: -20px;
    }
}