@font-face {
  font-family: Ulm Grotesk;
  src: url(./assets/fonts/UlmGrotesk-Medium.otf);
}

@font-face {
  font-family: Ulm Grotesk Regular;
  src: url(./assets/fonts/UlmGrotesk-Regular.otf);
}

@font-face {
  font-family: Font Awesome;
  src: url(./assets/fonts/fontawesome.ttf);
}


// Fix box model
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

main {
  padding: 0 36px;
  max-width: 1000px;
  margin: auto;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid rgba(0,0,0,0);
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
