.shop-button {
    button, 
    button:visited,
    button:focus {
        background-color: #ffdc14;
        color: #46413e;
        border-radius: 35px;
        padding: 21px 30px;
        font-size: 18px;
        font-weight: 700;
        margin: 15px 0;
        line-height: 26px;
        text-align: center;
        align-self: center;

        &:hover {
            background-color:darken( #ffdc14, 7.5% );
        }
        
        &:active {
            background-color: #46413e;
            color: #fff;
            outline: none;
        }
    }
    button
    { 
        &:visited,
        &:focus {
            background-color: #ffdc14;
            color: #46413e;
            border-radius: 35px;
            padding: 21px 30px;
            // min-width: 200px;
            font-size: 18px;
            font-weight: 700;
            margin: 15px 0;
            line-height: 26px;
            text-align: center;
            align-self: center;

            &:hover {
                background-color:darken( #ffdc14, 7.5% );
            }
            
            &:active {
                background-color: #46413e;
                color: #fff;
                outline: none;
            }
        }
        
        &.subtract,
        &.subtract:visited,
        &.subtract:focus {
            font-size: 41px;
            border-radius: 35px 0 0 35px;
            background-color: beige;
        }
        
        &.add,
        &.add:visited,
        &.add:focus {
            font-size: 41px;
            border-radius: 0 35px 35px 0;
        }
    }
}
