header {
    position: sticky;
    background: white;
    top: 0;
    height: 70px;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
    padding: 0 24px;
    display: flex;
    z-index: 1000;

    .wrapper {
        margin: auto;
        width: 1000px;
        display: flex;
        justify-content: space-between;

        .logo-wrapper {
            display: flex;

            img.logo {
                height: 50px;
                align-self: center;
            }
        
            h1 {
                font-weight: 300;
                color: rgb(76, 76, 76);
                padding-left: 22px;
                font-size: 36px;
                align-self: center;
                display: block;
                font-family: Ulm Grotesk Regular;

                @media (max-width: 500px) {
                    display: none;
                }
            }
        }

        button {
            border-radius: 35px;
            font-weight: 600;
            height: 100%;

            i {
                padding-left: 12px;
                font-family: Font Awesome;
                font-style: normal;
            }
        }
    }
}