.product-card {
    width: 100%;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 18px;
        color: rgb(147, 147, 147);
        padding: 0 40px;
    }

    .title {
        display: flex;
        align-content: center;

        h4 {
            text-align: center;
        }
    }

    img {
        border-radius: 100%;
        width: 300px;
        height: 300px;
        object-fit: cover;
        margin-bottom: 24px;
    }
}