.market-page {

    display: flex;
    flex-direction: column;

    ul.product-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        li {
            list-style: none;
            display: flex;
            align-items: flex-end;
        }
    }
}