.counter-wrapper {
    position: relative;

    .counter {
        position: absolute;
        top: 16px;
        right: 5px;
        border-radius: 17%;
        background-color: red;
        display: flex;
        align-content: center;
        justify-content: center;
        color: white;
        font-size: 37px;
        padding: 6px 20px;
        font-weight: 600;
    }
}