.blurb {
    max-width: 700px;
    align-self: center;
    justify-self: center;

    h2 {
        margin: 50px 0 24px 0;
        text-align: center;
    }

    h3 {
        margin: 24px 0 50px 0;
        text-align: center;
        font-size: 23px;
        font-weight: 300;
    }
}